@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --Background: #F5F5F5;
  --Base-White: white;
  --Brand-100: #D3F8E3;
  --Brand-600: #0c8f61;
  --Brand-700: #097350;
  --Brand-950: #053628;

  --Text-400: #A4A7AE;
  --Text-600: #535862;
  --Text-950: #0A0D12;

  --Success-700: #067647;

  --Warning-600: #DC6803;

  --Error-100: #FEE4E2;
  --Error-500: #F04438;
  --Error-700: #B42318;

  --Gold-100: #F5F1DF;

  --container: 1248px;
  --section-indent: 80px;

  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  --swiper-pagination-color: #0c8f61;
  --color1: #053628;
  --border: #d5d7da;
}


@media (max-width: 768px) {
  :root {
    --container: 736px;
  }
}

@media (max-width: 576px) {
  :root {
    --section-indent: 24px;
  }
}

html {
  background-color: var(--Background);
}

@media (min-width: 1280px) {
  html {
    scrollbar-gutter: stable;
  }
}

body {
  color: #535862;
  background-color: var(--Background);
}

section:first-child,
section:last-child {
  margin: 0;
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--Base-White);
  border: 1px solid #d5d7da;
  cursor: pointer;
  transition: 0.2s;
}

.custom-swiper-button-prev:hover,
.custom-swiper-button-next:hover {
  background: #d1d5db;
}

.custom-swiper-button-prev svg,
.custom-swiper-button-next svg {
  width: 16px;
  height: auto;
}

/* 12px text-xs
14px text-sm
16px text-base
18px text-lg */

/* leading-3 12px
leading-4 (16px)
leading-5 (20px)
leading-6 (24px) */



/*
sm 640px
md 768px
lg 1024px
xl 1280px
2xl 1536px 
*/




/* rounded-sm    → 0.125rem (2px)
rounded-md    → 0.25rem  (4px)
rounded       → 0.25rem  (4px) 
rounded-lg    → 0.375rem (6px)
rounded-xl    → 0.5rem   (8px)
rounded-2xl   → 0.75rem  (12px)
rounded-3xl   → 1rem     (16px)
rounded-full  → 9999px   (круг/овал) */