@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --Base-White: white;
  --Brand-700: #097350;


  --container: 1248px;
  --section-indent: 80px;

  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  --swiper-pagination-color: #0c8f61;
  --color1: #053628;
  --border: #d5d7da;
}

@media (max-width: 576px) {
  :root {
    --section-indent: 24px;
  }
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--Base-White);
  border: 1px solid #d5d7da;
  cursor: pointer;
}

.custom-swiper-button-prev svg,
.custom-swiper-button-next svg {
  width: 14px;
  height: auto;
}

/* 12px text-xs
14px text-sm
16px text-base
18px text-lg */

/* leading-3 12px
leading-4 (16px)
leading-5 (20px)
leading-6 (24px) */
